/******************************* 
    Base Style
*******************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing is not inherited. This allows all elemnets to inherit the setting in the body styles */
  box-sizing: inherit;
}
html {
  /* This equals 10px, most defaul browser font size is 16px so 62.5% gives us 10px */
  font-size: 62.5%;
}
body {
  font-family: "Literata", serif;
  /* border or padding no longer add to height or width of elements */
  box-sizing: border-box;
  transition: background 0.5s;
  position: relative;
}
a {
  text-decoration: none;
  color: #fff;
}

/******************************* 
    Utility Style
*******************************/
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.divider {
  border: 0;
  height: 1px;
  width: 60%;
  margin: 0 auto;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.down__arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  bottom: 10rem;
  transform: rotate(45deg);
  animation: arrowEffect 2s infinite;
  z-index: 100;
}
@keyframes arrowEffect {
  from {
    opacity: 0;
    transform: translateY(0);
    transform: rotate(45deg);
  }
  to {
    opacity: 1;
    transform: scale(2) translateY(2.5rem) rotate(45deg);
  }
}
/******************************* 
    Header Style
*******************************/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.2rem;
  background: rgba(0, 0, 0, 0.9);
  color: rgb(248, 248, 248);
  min-height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
nav .logo {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1.2;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 60%;
}
nav .nav-links li a {
  text-decoration: none;
  color: rgb(248, 248, 248);
  position: relative;
}
nav .nav-links li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(248, 248, 248);
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}
nav .nav-links li a:hover::before {
  transform: scaleX(1);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  margin: 5px;
  height: 3px;
  background: rgb(248, 248, 248);
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  nav {
    width: 100vw;
  }
  .nav-links {
    position: absolute;
    top: 10vh;
    right: 0;
    flex-direction: column;
    height: 90vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background: rgba(0, 0, 0, 0.9);
    color: rgb(248, 248, 248);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/******************************* 
    Showcase Style
*******************************/
#showcase--home {
  background: url(../img/showcase-bg.jpg) no-repeat center center;
  height: 100vh;
  width: 100%;
}
#showcase--gallery {
  background: url(../img/gallery-showcase.jpg) no-repeat center center;
  height: 100vh;
  width: 100%;
}
#showcase--pricing {
  height: 50vh;
  width: 100%;
}
.showcase-bg-dark {
  background: rgba(0, 0, 0, 0.4);
}
.showcase__content {
  color: rgb(248, 248, 248);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.showcase__content-title {
  font-size: 7rem;
  font-weight: 600;
}
.showcase__content-text {
  font-size: 2.6rem;
  letter-spacing: 1.1;
}
@media screen and (max-width: 1000px) {
  .showcase__content-title {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 700px) {
  #showcase--home {
    background: url(../img/showcase-bg-sm.jpg) no-repeat center center;
  }
  .showcase__content-text {
    font-size: 2.2rem;
  }
}
/******************************* 
    Gallery Style
*******************************/
.gallery__1 {
  display: flex;
  padding: 3.5rem;
  flex-basis: 60%;
}
.gallery__2 {
  display: flex;
  padding: 3.5rem 0;
  flex-basis: 50%;
}
.wide--img {
  width: 100%;
  max-width: 42rem;
  height: auto;
  max-height: 27rem;
  padding: 1rem;
}
.tall--img {
  padding: 1rem;
  width: 100%;
  max-width: 42rem;
  height: auto;
  max-height: 60rem;
}
.gallery__caption {
  flex-basis: 40%;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.gallery__caption--title {
  font-size: 4.5rem;
  text-transform: uppercase;
  padding: 1.2rem 0;
  text-align: center;
}
.gallery__caption--text {
  font-size: 2.2rem;
  text-align: center;
  padding: 1.6rem 0;
}
@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
  .gallery {
    flex-direction: column;
  }
}

/******************************* 
    Review Style
*******************************/
#review--home {
  padding: 4.5rem;
}
.review__title {
  font-size: 2.2rem;
}
.review__text {
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 2.2rem 0;
}
.review__reviewer {
  display: block;
  font-size: 1.4rem;
  text-align: right;
}
@media screen and (max-width: 1000px) {
  .review__text {
    width: 100%;
    padding: 1.2rem 0;
  }
}
/******************************* 
    Package Style
*******************************/
/* #main__pricing {
  background: linear-gradient(
    180deg,
    rgb(109, 109, 109) 0%,
    rgba(218, 218, 218, 1) 30%,
    rgba(255, 255, 255, 1) 70%
  );
}
.packages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.package {
  width: 100%;
  padding: 0 10rem;
}
.package__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 2rem auto;
}
.package__text {
  width: 100%;
}
.package__title {
  font-size: 4.5rem;
  text-transform: uppercase;
  padding: 1.2rem;
}
.package__details {
  list-style-type: none;
}
.package__detail {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.5rem;
}
.package__price {
  display: block;
  font-size: 2.5rem;
  padding: 3rem 1.5rem;
}
@media screen and (max-width: 1000px) {
  .package {
    flex-direction: column;
  }
  .package__title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 600px) {
  .package__title {
    font-size: 2.5rem;
  }
} */
/******************************* 
    Footer Style
*******************************/
footer {
  background: rgb(0, 0, 0);
  padding: 2.5rem;
  font-size: 2.2rem;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 700px) {
  footer {
    font-size: 1.8rem;
  }
}
